@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
  --clr-bg-light: #eeeeee;
  --clr-bg-dark: #35374b;
}
.dark-theme {
  --clr-bg-dark: #eeeeee;
  --clr-bg-light: #35374b;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-bg-light);
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--clr-bg-dark);
  cursor: pointer;
}
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  position: fixed;
  padding: 2rem 0;
  background-color: var(--clr-bg-light);
}
header p {
  font-size: 1.8em;
  justify-content: start;
  color: var(--clr-bg-dark);
  padding-left: 3rem;
}
header ul {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
header ul li {
  list-style: none;
}
header ul li a {
  font-size: 1.3em;
}
#changeColor {
  display: flex;
  justify-content: end;
  font-size: 2em;
  cursor: pointer;
  padding-right: 4rem;
  color: var(--clr-bg-dark);
}
.bar {
  display: none;
}
@media (max-width: 1000px) {
  header p {
    font-size: 1.6em;
  }
  header ul li a {
    font-size: 1.1em;
  }
  #changeColor {
    padding-right: 4rem;
  }
}
@media (max-width: 860px) {
  header ul li {
    display: none;
  }
  header p {
    text-align: center;
  }
  #toggle {
    justify-content: end;
    display: flex;
  }
  #bar {
    display: flex;
    justify-content: end;
    font-size: 2em;
    cursor: pointer;
    padding-right: 4rem;
    color: var(--clr-bg-dark);
  }
  #changeColor {
    padding-right: 0;
  }
  .bar {
    display: inline-block;
    justify-content: end;
    cursor: pointer;
    padding-left: 2rem;
    color: var(--clr-bg-dark);
  }
}
@media (max-width: 550px) {
  header p {
    font-size: 1.4em;
    padding-left: 2rem;
    display: block ruby;
  }
}
/* -------------------------------------- */
#Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 11rem 14rem;
  gap: 6rem;
}
.profile__photo {
  /* width: 100%;
  height: 100%; */
  width: 70%;
  border-radius: 10%;
  /* border: 2px solid var(--clr-bg-dark); */
}
.home__content {
  text-align: center;
  padding-top: 4rem;
}
.home__content p {
  font-size: 1.4em;
  color: var(--clr-bg-dark);
}
.home__content h2 {
  color: var(--clr-bg-dark);
  font-size: 3em;
}
.home__content p:last-child {
  padding-bottom: 2rem;
}
.home__content button {
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  margin: 1rem 0.5rem;
  border: 1px solid var(--clr-bg-dark);
  border-radius: 1.4rem;
  color: var(--clr-bg-dark);
  font-size: 1em;
}
.home__content button:first-child {
  background-color: transparent;
}
.home__content button:first-child:hover {
  background-color: var(--clr-bg-dark);
}
.home__content button:first-child a {
  color: var(--clr-bg-dark);
}
.home__content button:first-child a:hover {
  color: var(--clr-bg-light);
}
.home__content button:first-child:hover > button:first-child a {
  color: var(--clr-bg-light);
}
.home__content button:last-child {
  background-color: var(--clr-bg-dark);
}
.home__content button:last-child a {
  color: var(--clr-bg-light);
}

.home__content .home__icon i {
  font-size: 2.5em;
  color: var(--clr-bg-dark);
  padding: 1rem 0.3rem;
  cursor: pointer;
}
@media (max-width: 987px) {
  #Home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10rem 10rem;
    gap: 3rem;
  }
  .home__content h2 {
    font-size: 2.5em;
  }
  .home__content p {
    font-size: 1.2em;
  }
  .profile__photo {
    width: 65%;
    padding-top: 2rem;
  }
}
@media (max-width: 832px) {
  #Home {
    padding: 10rem 8rem;
  }
}
@media (max-width: 730px) {
  #Home {
    padding: 10rem 6rem;
  }
  .home__content h2 {
    font-size: 2.2em;
  }
  .home__content p {
    font-size: 1.1em;
  }
  .profile__photo {
    width: 65%;
    padding-top: 2rem;
  }
  .home__content button {
    font-size: 0.8em;
  }
}
@media (max-width: 620px) {
  #Home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    padding: 10rem 2rem;
  }
  .profile {
    text-align: center;
  }
  .profile__photo {
    width: 50%;
  }
  .home__content {
    padding-top: 0;
  }
  .home__content h2 {
    font-size: 2.8em;
  }
  .home__content p {
    font-size: 1.3em;
  }
  .home__content button {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  #Home {
    padding: 10rem 2rem;
  }
  .profile__photo {
    width: 70%;
  }
  .home__content {
    text-align: center;
  }
  .home__content h2 {
    font-size: 2em;
  }
  .home__content p {
    font-size: 1.3em;
  }
}
/* ------------------------------------------ */
.about__page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about__title {
  color: var(--clr-bg-dark);
  text-align: center;
  font-size: 3em;
  padding-bottom: 4rem;
}
.about__page .about__profile img {
  width: 80%;
}
.about__page .about__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 1rem;
  padding: 6rem 1rem 2rem 0;
}

.about__box .box i {
  font-size: 2em;
  color: var(--clr-bg-dark);
  padding-top: 1rem;
}
.about__box .box h2 {
  font-size: 1.5em;
  color: var(--clr-bg-dark);
  padding-bottom: 1rem;
}
.about__box .box p {
  color: var(--clr-bg-dark);
}
.about__box .box hr {
  color: var(--clr-bg-dark);
  margin-top: 1rem;
}
.about__content p {
  color: var(--clr-bg-dark);
  font-size: 1.1em;
}
@media (max-width: 980px) {
  .about__page .about__box {
    padding: 4rem 1rem 2rem 0;
  }
  .about__page .about__profile img {
    padding-top: 5rem;
  }
}
@media (max-width: 730px) {
  .about__page .about__profile img {
    padding: 2rem 3rem;
  }
  .about__page .about__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1rem;
    padding: 0 1rem;
  }
  .about__box .box h2 {
    font-size: 1.1em;
    color: var(--clr-bg-dark);
    padding-bottom: 1rem;
  }
  .about__content p {
    font-size: 0.9em;
  }
  .about__para {
    padding-right: 1rem;
    padding-top: 2rem;
  }
}
@media (max-width: 620px) {
  .about__page .about__profile img {
    padding: 0;
    width: 60%;
  }
  .about__page .about__box {
    padding: 1rem;
  }
  .about__title {
    font-size: 2em;
  }
  .about__profile {
    text-align: center;
  }
  .about__page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .about__content p {
    font-size: 1em;
  }
  .about__page .about__profile img {
    padding: 2rem 3rem;
  }
  .about__para {
    padding: 1rem 2rem;
  }
}
/* ---------------------------------------------- */
.skill__page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem 7rem;
}
.skill__title {
  color: var(--clr-bg-dark);
  text-align: center;
  font-size: 3em;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.box h2 {
  color: var(--clr-bg-dark);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.skill__box .box hr {
  margin: 0 2rem 1rem;
  color: var(--clr-bg-dark);
}
.box .skill p:first-child {
  color: var(--clr-bg-dark);
  margin-left: 7rem;
}
.box .skill p:last-child {
  color: var(--clr-bg-dark);
  font-size: 0.8em;
  padding-left: 1.5rem;
  margin-left: 7rem;
}
@media (max-width: 1100px) {
  .box .skill p:first-child {
    margin-left: 6rem;
  }
  .box .skill p:last-child {
    padding-left: 1.5rem;
    margin-left: 6rem;
  }
}
@media (max-width: 970px) {
  .box .skill p:first-child {
    margin-left: 4rem;
  }
  .box .skill p:last-child {
    padding-left: 1.5rem;
    margin-left: 4rem;
  }
}
@media (max-width: 800px) {
  .box .skill p:first-child {
    margin-left: 3rem;
  }
  .box .skill p:last-child {
    padding-left: 1.5rem;
    margin-left: 3rem;
  }
}
@media (max-width: 700px) {
  .box .skill p:first-child {
    margin-left: 1rem;
  }
  .box .skill p:last-child {
    padding-left: 1.5rem;
    margin-left: 1rem;
  }
}
@media (max-width: 620px) {
  .skill__page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 7rem;
  }
  .box .skill p:first-child {
    margin-left: 6rem;
  }
  .box .skill p:last-child {
    padding-left: 1.5rem;
    margin-left: 6rem;
  }
}
@media (max-width: 585px) {
  .box .skill p:first-child {
    margin-left: 4rem;
  }
  .box .skill p:last-child {
    padding-left: 1.5rem;
    margin-left: 4rem;
  }
  .skill__title {
    font-size: 2em;
  }
}
@media (max-width: 500px) {
  .skill__page {
    padding: 1rem 2rem;
  }
  .box .skill p:first-child {
    margin-left: 2rem;
  }
  .box .skill p:last-child {
    padding-left: 1.5rem;
    margin-left: 2rem;
  }
}
@media (max-width: 280px) {
  .skill__page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 4rem;
  }
}
/* -------------------------------------------- */
.project__title {
  color: var(--clr-bg-dark);
  text-align: center;
  font-size: 3em;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.project__page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
}
.project__page .box {
  padding: 2rem 4rem;
}
.project__page .box img {
  width: 100%;
}
.project__page .box button {
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  margin: 1rem 0.5rem;
  border: 1px solid var(--clr-bg-dark);
  border-radius: 1.4rem;
  color: var(--clr-bg-dark);
  font-size: 1em;
  background-color: transparent;
}
.project__page .box button:hover {
  background-color: var(--clr-bg-dark);
  color: var(--clr-bg-light);
}
.project__page .box button a {
  color: var(--clr-bg-dark);
}
.project__page .box button a:hover {
  color: var(--clr-bg-light);
}
.project__page__two {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 6rem;
  gap: 2rem;
}
.project__first,
.project__second,
.project__third,
.project__fourth {
  text-align: center;
  border: 1px solid var(--clr-bg-dark);
  border-radius: 2.5rem;
}
.project__first h2,
.project__second h2,
.project__third h2,
.project__fourth h2 {
  font-size: 2em;
  color: var(--clr-bg-dark);
  padding: 1rem;
}
.project__first hr,
.project__second hr,
.project__third hr,
.project__fourth hr {
  margin: 0 2rem 1rem;
  color: var(--clr-bg-dark);
}
.project__first p,
.project__second p,
.project__third p,
.project__fourth p {
  font-size: 1.2em;
  color: var(--clr-bg-dark);
  padding-bottom: 1rem;
}
@media (max-width: 1000px) {
  .project__page .box {
    padding: 1rem;
  }
  .project__page .box img {
    width: 100%;
  }
  .project__first h2,
  .project__second h2,
  .project__third h2,
  .project__fourth h2 {
    font-size: 1.6em;
  }
  .project__page__two {
    padding: 6rem 1rem;
  }
}
@media (max-width: 720px) {
  .project__page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .project__page__two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 3rem 1rem;
  }
  .project__page .box img {
    display: block;
    width: 100%;
  }
}
@media (max-width: 460px) {
  .project__page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .project__page__two {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
  }
  .project__title {
    font-size: 2em;
  }
}
