@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
:root {
  --clr-bg-light: #eeeeee;
  --clr-bg-dark: #35374b;
}
.dark-theme {
  --clr-bg-dark: #eeeeee;
  --clr-bg-light: #35374b;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-bg-light);
}
a {
  text-decoration: none;
  color: var(--clr-bg-dark);
  cursor: pointer;
}
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  position: fixed;
  padding: 2rem 0;
  background-color: var(--clr-bg-light);
}
header p {
  font-size: 1.8em;
  justify-content: start;
  color: var(--clr-bg-dark);
  padding-left: 3rem;
}
header ul {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
header ul li {
  list-style: none;
}
header ul li a {
  font-size: 1.3em;
}
#changeColor {
  display: flex;
  justify-content: end;
  font-size: 2em;
  cursor: pointer;
  padding-right: 4rem;
  color: var(--clr-bg-dark);
}
.bar {
  display: none;
}
@media (max-width: 1000px) {
  header p {
    font-size: 1.6em;
  }
  header ul li a {
    font-size: 1.1em;
  }
  #changeColor {
    padding-right: 4rem;
  }
}
@media (max-width: 860px) {
  header ul li {
    display: none;
  }
  header p {
    text-align: center;
  }
  #toggle {
    justify-content: end;
    display: flex;
  }
  #bar {
    display: flex;
    justify-content: end;
    font-size: 2em;
    cursor: pointer;
    padding-right: 4rem;
    color: var(--clr-bg-dark);
  }
  #changeColor {
    padding-right: 0;
  }
  .bar {
    display: inline-block;
    justify-content: end;
    cursor: pointer;
    padding-left: 2rem;
    color: var(--clr-bg-dark);
  }
}
@media (max-width: 550px) {
  header p {
    font-size: 1.4em;
    padding-left: 2rem;
    display: block ruby;
  }
}
/* -------------------------------------- */
#Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 11rem 14rem;
  gap: 6rem;
}
.profile__photo {
  /* width: 100%;
  height: 100%; */
  width: 70%;
  border-radius: 10%;
  /* border: 2px solid var(--clr-bg-dark); */
}
.home__content {
  text-align: center;
  padding-top: 4rem;
}
.home__content p {
  font-size: 1.4em;
  color: var(--clr-bg-dark);
}
.home__content h2 {
  color: var(--clr-bg-dark);
  font-size: 3em;
}
.home__content p:last-child {
  padding-bottom: 2rem;
}
.home__content button {
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  margin: 1rem 0.5rem;
  border: 1px solid var(--clr-bg-dark);
  border-radius: 1.4rem;
  color: var(--clr-bg-dark);
  font-size: 1em;
}
.home__content button:first-child {
  background-color: transparent;
}
.home__content button:first-child:hover {
  background-color: var(--clr-bg-dark);
}
.home__content button:first-child a {
  color: var(--clr-bg-dark);
}
.home__content button:first-child a:hover {
  color: var(--clr-bg-light);
}
.home__content button:first-child:hover > button:first-child a {
  color: var(--clr-bg-light);
}
.home__content button:last-child {
  background-color: var(--clr-bg-dark);
}
.home__content button:last-child a {
  color: var(--clr-bg-light);
}

.home__content .home__icon i {
  font-size: 2.5em;
  color: var(--clr-bg-dark);
  padding: 1rem 0.3rem;
  cursor: pointer;
}
@media (max-width: 987px) {
  #Home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10rem 10rem;
    gap: 3rem;
  }
  .home__content h2 {
    font-size: 2.5em;
  }
  .home__content p {
    font-size: 1.2em;
  }
  .profile__photo {
    width: 65%;
    padding-top: 2rem;
  }
}
@media (max-width: 832px) {
  #Home {
    padding: 10rem 8rem;
  }
}
@media (max-width: 730px) {
  #Home {
    padding: 10rem 6rem;
  }
  .home__content h2 {
    font-size: 2.2em;
  }
  .home__content p {
    font-size: 1.1em;
  }
  .profile__photo {
    width: 65%;
    padding-top: 2rem;
  }
  .home__content button {
    font-size: 0.8em;
  }
}
@media (max-width: 620px) {
  #Home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    padding: 10rem 2rem;
  }
  .profile {
    text-align: center;
  }
  .profile__photo {
    width: 50%;
  }
  .home__content {
    padding-top: 0;
  }
  .home__content h2 {
    font-size: 2.8em;
  }
  .home__content p {
    font-size: 1.3em;
  }
  .home__content button {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  #Home {
    padding: 10rem 2rem;
  }
  .profile__photo {
    width: 70%;
  }
  .home__content {
    text-align: center;
  }
  .home__content h2 {
    font-size: 2.2em;
  }
  .home__content p {
    font-size: 1.3em;
  }
}
